.marcador__azul::marker {
    color: var(--light-blue);
}

.marcador__verde::marker {
    color: var(--green-300);
}

.marcador__amarelo::marker {
    color: var(--yellow);
}

.marcador__laranja::marker {
    color: var(--orange);
}

.marcador__vermelho::marker {
    color: var(--red);
}

.marcador__roxo::marker {
    color: var(--purple);
}
