@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  color: white
}
 

#conteudo__container {
  margin: auto;
  width: 70%;
  padding: 2rem 0;
}

.corpo__background {
  background-color: #313943;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  margin: 0 auto;
}

.titulo__principal {
  padding-bottom: 1rem;
}

section {
  margin: 2em 0;
  overflow: hidden;
}

.titulo {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}


table {
  width: 100%;
  margin-bottom: 0.5em;
  table-layout: fixed;
}

td,
th {
  padding: 0.7em;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
}

.info-imc {
  color: black;
}

th {
  font-weight: bold;
  background-color: #293039;
  color: white;
}

.campo {
  padding-bottom: 1em;
  border: 1px solid #ccc;
  padding: 0.7em;
  width: 100%;
  color: black;
}


.grupo {
  display: block;
  padding: 10px 0px;
}

#adicionar-paciente {
  margin-top: 30px;
}

.paciente__invalido {
  background-color: lightcoral;
  font-weight: bold;
}

.botao {
  background-color: #009490;
  border: 0;
  border-bottom: 3px solid;
  border-color: #04324c;
  color:black;
  cursor: pointer;
  display: block;
  padding: 0.5em 2em;
  width: 12rem;

}

.filtro__container { 
  display: grid;
  place-items: center;
  padding: 1.5rem 0;
}

.filtro__rotulo {
  padding-bottom: 0.5rem;
}


#filtroTabela {
  padding: 7px;
  color: black;
}

.seta__imagem {
  width: 2.2rem;
}


@media screen and (min-width: 1px) {
  .container {
    width: 100%;
  }

  #conteudo__container {
    width: 100%;
  }

  body {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
  }
}
