@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 15px; 
  font-family: 'Raleway', sans-serif;
  color: var(--branco)
}
 

#conteudo__container {
  margin: auto;
  padding: 2rem 0;
}

.corpo__background {
  background-color: var(--body-background);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  margin: 0 auto;
}

.titulo__principal {
  padding-bottom: 1rem;
}

section {
  margin: 2em 0;
  overflow: hidden;
}

.titulo {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

td,
th {
  padding: 0.7em;
  margin: 0;
  border: 1px solid var(--cinza-claro);
  text-align: center;
}

.info-imc {
  color: black;
  font-family: 'Rajdhani', sans-serif;
}

th {
  font-weight: bold;
  background-color: var(--cinza-escuro);
  color: var(--branco);
}

.campo {
  padding-bottom: 1em;
  border: 1px solid var(--cinza-claro);
  padding: 0.7em;
  width: 100%;
  color: black;
}

.grupo {
  display: block;
  padding: 10px 0px;
}

#adicionar-paciente {
  margin-top: 30px;
}

.paciente__invalido {
  background-color: var(--invalido);
  font-weight: bold;
}

.botao {
  background-color: var(--verde-agua);
  border: 0;
  color:black;
  cursor: pointer;
  display: block;
  padding: 0.7em 2em;
  width: 12rem;
  font-weight: bold;
}

/*ESTILO - JAVASCRIPT*/

#mensagensErro {
  color: var(--invalido);
  font-weight: bold;
  padding: 1rem 0;
}

.fadeOut {
  opacity: 0;
  transition: 0.5ms;
}

.invisivel {
  display: none;
}

/*CORES DA CLASSIFICACAO*/

.pesoBaixo__cor {
  background-color:var(--marcador-zul);
}

.saudavel__cor {
  background-color: var(--marcador-verde);
}

.sobrepeso__cor {
  background-color: var(--marcador-amarelo);
}

.obesidade__cor {
  background-color: var(--marcador-laranja);
}

.obesidadeSevera__cor {
  background-color: var(--marcador-vermelho);
}

.obesidadeMorbida__cor {
  background-color: var(--marcador-roxo);
}

/*------CARACTERÍSTICAS DO ROOT------*/

:root {
  --branco: #fff;
  --cabecalho: #293039;
  --cinza-escuro: #293039;
  --cinza-claro: #ccc;
  --invalido: #f08080;
  --verde-agua: #099691;
  --body-background: #313943;
  --marcador-zul: #8abed0;
  --marcador-verde: #7de87d;
  --marcador-amarelo: #e4e458;
  --marcador-laranja: #ebaf3f;
  --marcador-vermelho: #d15555;
  --marcador-roxo: #aa3baa;
  --rodape-background: #0cbab4;
}

/*------MEDIA QUERY'S------*/


@media screen and (min-width: 0) {
  .container {
    width: 100%;
  }

  #conteudo__container {
    width: 100%;
  }

  body {
    font-size: 1.7rem;
  }

}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
}
