.adicionaPaciente__entrada--adiciona, .adicionaPaciente__entrada--remove {
   background-position: center;
   background-size: 80%;
   background-repeat: no-repeat;
   border: 2px solid var(--cabecalho);
   margin-left: 1rem;
   width: 3rem;
   height: 3rem;
   border-radius: 5px;
}

.adicionaPaciente__entrada--adiciona {
   background-image: url(https://image.flaticon.com/icons/png/128/4850/4850980.png);
   background-color: var(--green-color);

}

.adicionaPaciente__entrada--remove {
   background-image: url(https://image.flaticon.com/icons/png/512/4850/4850968.png);
   background-color: var(--marcador-vermelho);
}