@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 15px; 
  font-family: 'Raleway', sans-serif;
  color: var(--white)
}
 
#conteudo__container {
  margin: auto;
  padding: 1rem 0;
}

.corpo__background {
  background-color: var(--gray-700);
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  margin: 0 auto;
}

section {
  margin: 2rem 0;
  overflow: hidden;
}

th {
  border: none;
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--black);
}

.titulo {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  padding: 1rem 0;
  border-bottom: 2px solid var(--white);

}

.info-imc {
  color: var(--black);
  font-family: 'Rajdhani', sans-serif;
}

.grupo {
  display: block;
  padding: 10px 0px;
}

#adicionar-paciente {
  margin-top: 30px;
}

.paciente__invalido {
  background-color: var(--invalido);
  font-weight: bold;
}

.botao {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--branco);
  cursor: pointer;
  display: block;
  padding: 0.7em 2em;
  width: 12rem;
  font-weight: bold;
  border-radius: 5px;
  margin: 1.5rem 0 2rem 0;
}

.botao:hover {
  background-color: var(--primary-color);
  transition-delay: 2ms;
}

/*ESTILO - JAVASCRIPT*/

#mensagensErro {
  color: var(--invalido);
  font-weight: bold;
  padding: 1rem 0;
}

.fadeOut {
  opacity: 0;
  transition: 0.5ms;
}

.invisivel {
  display: none;
}

.mostrar {
  display: block;
}

/*CORES DA CLASSIFICACAO*/

.pesoBaixo__cor {
  background-color:var(--light-blue);
}

.saudavel__cor {
  background-color: var(--green-300);
}

.sobrepeso__cor {
  background-color: var(--yellow);
}

.obesidade__cor {
  background-color: var(--orange);
}

.obesidadeSevera__cor {
  background-color: var(--red);
}

.obesidadeMorbida__cor {
  background-color: var(--purple);
}

/*------COLORS-----*/

:root {
  --primary-color: #20B2AA	;
  --secondary-color: #293039;
  --third-color: #008B8B;
  --invalido: #f08080;
  --light-blue: #8abed0;
  --yellow: #e4e458;
  --orange: #ebaf3f;
  --red: #d15555;
  --purple: #aa3baa;
  --green-300: #7de87d;
  --green-400: #2fbb2f;
  --gray-300: #ccc;
  --gray-700: #313943;
  --gray-800: #293039;
  --gray-900: #181717;
  --white: #fff;
  --black: #000;
}

/*------MEDIA QUERY'S------*/


@media screen and (min-width: 0) {
  .container {
    width: 90%;
  }

  #conteudo__container {
    width: 100%;
  }

  body {
    font-size: 1.7rem;
  }

}

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
}
