.formulario__campo {
   padding-bottom: 1rem;
   border: 1px solid var(--primary-color);
   padding: 0.7em;
   width: 100%;
   color: var(--white);
   background-color: transparent;
   border-radius: 5px;
 }
 
 .formulario__campo:hover {
   background-color: var(--gray-900);
   transition-delay: 0.2s;
 }