.marcador__azul {
    color: var(--light-blue);
}

.marcador__verde {
    color: var(--green-300);
}

.marcador__amarelo {
    color: var(--yellow);
}

.marcador__laranja {
    color: var(--orange);
}

.marcador__vermelho {
    color: var(--red);
}

.marcador__roxo {
    color: var(--purple);
}
