.menu__link {
    border-radius: 5px;
    color: var(--white);
    font-weight: 700;
    padding: 0.5rem;
    text-decoration: none;
}

.menu__link:hover {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.6rem;
}