#cabecalho {
    background-color: var(--cabecalho);
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
    #cabecalho {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    #cabecalho {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
}
    

