.paciente__tr {
   font-weight: bold;
   background-color: var(--cinza-escuro);
   color: var(--branco);
   border: 2px solid var(--verde-agua);
 }

.paciente__td,
.paciente__tr {
  padding: 0.7em;
  margin: 0;
  text-align: center;
}