.classificacao__lista {
    padding-top: 1rem;
}

@media screen and (min-width: 1px) {

	.classificacao__lista {
		display: block;
	}
}

@media screen and (min-width: 1024px) {
    .classificacao__lista {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}