.clientes_container {
    border: 1px transparent;
    border-radius: 5px;
    padding: 2rem 0;
  }

.clientes__lista {
    padding-top: 1rem;
}

.clientes__titulo {
    text-align: center;
    font-weight: 550;
}

.cliente__paragrafo-classificacao {
    padding-top: 1.5rem; 
}

.clientes__item {
    list-style-type: disc;
}

.marcador__azul::marker {
    color: blue;
}

.marcador__verde::marker {
    color: green;
}

.marcador__amarelo::marker {
    color: yellow;
}

.marcador__laranja::marker {
    color: orange;
}

.marcador__vermelho::marker {
    color: red;
}

.marcador__roxo::marker {
    color: purple;
}

@media screen and (min-width: 1px) {

	.clientes__lista {
		display: block;
	}
}

@media screen and (min-width: 1024px) {
    .clientes__lista {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}