.adicionaPaciente__entrada, .adicionaPaciente__fechar {
   background-position: center;
   background-size: 80%;
   background-repeat: no-repeat;
   margin-left: 1rem;
   width: 2.5rem;
   height: 2.5rem;
   border-radius: 5px;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.adicionaPaciente__entrada {
   background-image: url(https://image.flaticon.com/icons/png/512/179/179402.png);
}

.adicionaPaciente__fechar {
   background-image: url(https://image.flaticon.com/icons/png/512/179/179396.png);
}
