@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 15px; 
  font-family: 'Raleway', sans-serif;
  color: var(--branco)
}
 
#conteudo__container {
  margin: auto;
  padding: 2rem 0;
}

.corpo__background {
  background-color: var(--body-background);
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  margin: 0 auto;
}

section {
  margin: 2em 0;
  overflow: hidden;
}

.titulo {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  padding: 1rem 0;
}

.info-imc {
  color: black;
  font-family: 'Rajdhani', sans-serif;
}


.grupo {
  display: block;
  padding: 10px 0px;
}

#adicionar-paciente {
  margin-top: 30px;
}

.paciente__invalido {
  background-color: var(--invalido);
  font-weight: bold;
}

.botao {
  border: 2px solid var(--verde-agua);
  background-color: transparent;
  color: var(--branco);
  cursor: pointer;
  display: block;
  padding: 0.7em 2em;
  width: 12rem;
  font-weight: bold;
  border-radius: 5px;
  margin: 1.5rem 0 2rem 0;

}

.botao:hover {
  background-color: var(--verde-agua);
  transition-delay: 2ms;
}

/*ESTILO - JAVASCRIPT*/

#mensagensErro {
  color: var(--invalido);
  font-weight: bold;
  padding: 1rem 0;
}

.fadeOut {
  opacity: 0;
  transition: 0.5ms;
}

.invisivel {
  display: none;
}

.mostrar {
  display: block;
}

/*CORES DA CLASSIFICACAO*/

.pesoBaixo__cor {
  background-color:var(--marcador-zul);
}

.saudavel__cor {
  background-color: var(--marcador-verde);
}

.sobrepeso__cor {
  background-color: var(--marcador-amarelo);
}

.obesidade__cor {
  background-color: var(--marcador-laranja);
}

.obesidadeSevera__cor {
  background-color: var(--marcador-vermelho);
}

.obesidadeMorbida__cor {
  background-color: var(--marcador-roxo);
}

/*------COLORS-----*/

:root {
  --branco: #fff;
  --preto: #000;
  --cabecalho: #293039;
  --cinza-escuro: #293039;
  --cinza-claro: #ccc;
  --invalido: #f08080;
  --verde-agua: #099691;
  --body-background: #313943;
  --marcador-zul: #8abed0;
  --marcador-verde: #7de87d;
  --marcador-amarelo: #e4e458;
  --marcador-laranja: #ebaf3f;
  --marcador-vermelho: #d15555;
  --marcador-roxo: #aa3baa;
  --rodape-background: #0cbab4;
  --green-color: #2fbb2f;
}

/*------MEDIA QUERY'S------*/


@media screen and (min-width: 0) {
  .container {
    width: 100%;
  }

  #conteudo__container {
    width: 100%;
  }

  body {
    font-size: 1.7rem;
  }

}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
}
